

<html>
<!DOCTYPE html><html lang=\"en\"><head><title>Credit Report Authorization</title><meta charset=\"UTF-8\"><meta name=\"viewport\"content=\"width=device-width, initial-scale=1\"></head>
<body style="text-align:justify;">
<p> Applicaton # : {{ applicationNumber }}
    <p>By checking this box 
	(1) I authorize Docitt to forward my application, including my nonpublic personal information, to other companies for consideration of my qualification for a loan product; 
	(2) I acknowledge I have reviewed Docitt Privacy Policy which can found at <a href="https://www.docitt.com/Home/PrivacyPolicy">https://www.docitt.com/Home/PrivacyPolicy</a> 
	(4) I acknowledge I have reviewed and agreed to our Terms of Use 
	</p>   
</body>
</html>