<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reset your password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="" />
        <p><b>Dear&nbsp;{{ Name }}</b></p>
        <p>A request to reset your Docitt password was made.  The link below will assist you in resetting your
        password.</p>
        <p><a href="{{ LoginUrl }}">Reset yout password.</a></p>
        <p>Sincerely,</p>
        <p>The Docitt Team</p>
        <ul>
            <li>1-800- 994-6177</li>
            <li><a href="mailto:docittteam@docitt.com">docittteam@docitt.com</a></li>
            <li><a href="http://docitt.com">Docitt.com</a></li>
        </ul>
    </body>
</html>