<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Collaborate to Docitt loan process</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="" />
        <p><b>Dear&nbsp;{{ InviteEmail }}</b></p>
        <p> Please login to Docitt to collaborate the loan application for {{ InvitedBy }}.The link below will assist you for further process.</p>
        <p><a href="{{ invitationUrl}}">Collaborate To Docitt</a></p>
        <p>Sincerely,</p>
        <p>The Docitt Team</p>
        <ul>
            <li>1-800- 994-6177</li>
            <li><a href="mailto:docittteam@docitt.com">docittteam@docitt.com</a></li>
            <li><a href="http://docitt.com">Docitt.com</a></li>
        </ul>
    </body>
</html>